.main-section.charter-benefits
    .main-section__inner.container
        h2.main-section__heading.charter-benefits__heading Charter Benefits
        ul.charter-benefits__list
            li.charter-benefits__item
                img.charter-benefits__icon(src="img/benefits_plane-ico.png" alt="")
                h3.charter-benefits__title Exemplary Customer Service and Flight Management
                p.charter-benefits__desc From our first contact with a client to our post flight follow up, our professional staff and flight crews do everything possible to ensure smooth and reliable service on every flight.
            li.charter-benefits__item
                img.charter-benefits__icon(src="img/benefits_pilot-ico.png" alt="")
                h3.charter-benefits__title Highly-Trained and Experienced Flight Crews
                p.charter-benefits__desc Our Captains, First Officers, and Flight Attendants all receive the most advanced training in flight safety.
            li.charter-benefits__item
                img.charter-benefits__icon(src="img/benefits_bag-ico.png" alt="")
                h3.charter-benefits__title Unequaled Corporate/Project Shuttle Experience
                p.charter-benefits__desc Ultimate Jetcharters is the recognized, nationwide leader in providing Corporate/Project Shuttle Service to major corporations.
            li.charter-benefits__item
                img.charter-benefits__icon(src="img/benefits_maintenance-ico.png" alt="")
                h3.charter-benefits__title Certified In-House Maintenance 
                p.charter-benefits__desc The extraordinary ability and dedication of our Maintenance Team is what allows Ultimate Jetcharters to enjoy an industry-leading dispatch reliability rate of over 99.8%.
            li.charter-benefits__item
                img.charter-benefits__icon(src="img/benefits_clock-ico.png" alt="")
                h3.charter-benefits__title 24/7 Flight Dispatch
                p.charter-benefits__desc The fact that we operate so many like aircraft allows us to provide our clients with greater scheduling flexibility and control.
            li.charter-benefits__item
                h3.charter-benefits__title.charter-benefits__title--big And this is only part of the benefits.
                a.btn.btn--bd(href="#") more reasons       