.main-section.charter-services
    h2.charter-services__heading.main-section__heading Private Charter Services
    ul.charter-services__list
        li.charter-services__item
            .charter-services__text
                h3.charter-services__title Corporate Travel
                p.charter-services__subtitle Shuttle
            img.charter-services__cover(src="img/charter_services-1.jpg" alt="" width="522" height="530")
        li.charter-services__item
            .charter-services__text
                h3.charter-services__title Sports Team
                p.charter-services__subtitle Fan Travel
            img.charter-services__cover(src="img/charter_services-2.jpg" alt="" width="385" height="530")
        li.charter-services__item
            .charter-services__text
                h3.charter-services__title Project Travel
                p.charter-services__subtitle Shuttle
            img.charter-services__cover(src="img/charter_services-3.jpg" alt="" width="522" height="530")
        li.charter-services__item
            .charter-services__text
                h3.charter-services__title Sports Team
                p.charter-services__subtitle Fan Travel
            img.charter-services__cover(src="img/charter_services-2.jpg" alt="" width="385" height="530")
        li.charter-services__item
            .charter-services__text
                h3.charter-services__title Sports Team
                p.charter-services__subtitle Fan Travel
            img.charter-services__cover(src="img/charter_services-2.jpg" alt="" width="385" height="530")            
        li.charter-services__item
            .charter-services__text
                h3.charter-services__title Project Travel
                p.charter-services__subtitle Shuttle
            img.charter-services__cover(src="img/charter_services-3.jpg" alt="" width="522" height="530")            

.charter-services-nav
    .charter-services-nav__inner.container
        .charter-services-nav__arrows
            button.charter-services-nav__btn.charter-services-nav__btn--prev(type="button" aria-label="Previous slide")
                svg(width='26', height='26', viewBox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M25 13H1', stroke='#4D4D4D', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M13 25L1 13L13 1', stroke='#4D4D4D', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            button.charter-services-nav__btn.charter-services-nav__btn--next(type="button" aria-label="Next slide")
                svg(width='26', height='26', viewBox='0 0 26 26', fill='none', xmlns='http://www.w3.org/2000/svg')
                    path(d='M1 13H25', stroke='#4D4D4D', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                    path(d='M13 25L25 13L13 1', stroke='#4D4D4D', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
        
        .charter-services-nav__dots

        .charter-services-info
            p.charter-services-info__text More About Charter Services
            a.charter-services-info__link.btn.btn--bd(href="#") learn more