.discover-difference.main-section(style={'background-image': 'url("img/discover_difference-bg.jpg")'})
    .discover-difference__inner.main-section__inner.container
        .main-section__text
            h2.discover-difference__heading.main-section__heading Discover the Ultimate difference with us
            p.discover-difference__desc.main-section__desc Ultimate Jetcharters provides a safe, sterile and safe aircraft for all of our charter clients. Our private charter service allows our clients to choose who they fly with and when they fly. Our clients will continue to have total control over their flight experience. If you have any questions or concerns about traveling during this time, please do not hesitate to contact us.
            p
                a.btn.btn--bd(href="#") Contact us