.hero(style={background: 'linear-gradient(288.39deg, rgba(99, 134, 181, 0.6) 13.44%, rgba(23, 45, 72, 0.88) 65.23%), url("img/hero-bg.jpg") no-repeat center/cover'})
    .hero__inner.container
        .hero__text
            p.hero__heading Fast and Safe Charter Flights
            p.hero__desc The Ultimate Difference is an unequaled commitment to customer satisfaction. We operate and charter 30-seat jets. Everything we do at Ultimate Jetcharters is focused on ensuring that every private charter flight is a wonderful experience.