nav.header__nav.nav
  ul.nav__list
    li.nav__item
      a.nav__link.nav__link--active(href="why-ultimate.html") Why Ultimate
    li.nav__item
      a.nav__link(href="single-post.html") Aircraft
    li.nav__item
      a.nav__link(href="contact.html") About Us
    li.nav__item
      a.nav__link(href="about.html") Charter Services
    li.nav__item
      a.nav__link(href="about.html") Contact

  include social