extends common/layout

block title
  title Ultimate Jetcharters | Why Ultimate

block main
    main.main
        include includes/why-ultimate/hero
        
        .main-section-2.main-section-2--reverse(style={'background-image': 'url("img/why_ultimate-1.jpg")'})
            .main-section-2__inner.container
                .main-section-2__text
                    h2.main-section-2__heading Benefit your business
                    p.main-section-2__desc A private charter with Ultimate Jetcharters can only benefit your business. Here are just some of the ways you’ll experience the Ultimate Difference:
                    ul
                        li Complete flexibility with your flight schedule
                        li Privacy – you control who’s flying on your flight(s)
                        li Convenience – fly out of private airport facilities that have up-close, free parking and no long check-in lines or intrusive security checks
                        li Increased personal safety and security
                        li Elimination of layover and connection hassles
                        li Significantly reduced travel-related stress and fatigue

        .main-section-2(style={'background-image': 'url("img/why_ultimate-2.jpg")'})
            .main-section-2__inner.container
                .main-section-2__text
                    h2.main-section-2__heading Increased employee efficiency and productivity
                    p.main-section-2__desc When you set the schedule of where and when to travel, your employees and your company benefit. There are no long check-in lines, no security hassles, and no lost luggage. Passengers can literally park their cars and walk into the lobby of a private airport facility (FBO), show our crew their ID, easily check their luggage and board the aircraft – all in just a matter of minutes! Besides these benefits, Ultimate Jetcharters has an unequalled commitment to customer satisfaction. Everything we do is to ensure that each and every flight is a wonderful experience for everyone involved.

        .main-section-3
            .main-section-3__inner.container

                .main-section-3__info
                    .main-section-3__cover
                        img(src="img/why_ultimate-3.jpg" alt="")
                    .main-section-3__text
                        h3.main-section-3__heading Exemplary Customer Service and Flight Management.
                        p.main-section-3__desc From our first contact with a client to our post-flight follow up, our professional staff and flight crews do everything possible to ensure smooth and reliable service on every flight.
                    
                .main-section-3__info
                    .main-section-3__cover
                        img(src="img/why_ultimate-4.jpg" alt="")
                    .main-section-3__text
                        h3.main-section-3__heading 24/7 Flight Dispatch
                        p.main-section-3__desc Our Schedulers and Dispatchers are known for their ability to make the seemingly impossible possible. The fact that we operate so many like aircraft allows us to provide our clients with greater scheduling flexibility and control.

        .main-section-2.main-section-2--reverse(style={'background-image': 'url("img/why_ultimate-5.jpg")'})
            .main-section-2__inner.container
                .main-section-2__text
                    h2.main-section-2__heading Highly-Trained and Experienced Flight Crews
                    p.main-section-2__desc Our Captains, First Officers, and Flight Attendants all receive the most advanced training in flight safety. In fact, all our pilots receive initial and recurrent training that goes above and beyond the standards required by the FAA. All Flight Attendants are CPR-certified and trained in the use of an Automated External Defibrillator (AED).

        .main-section-2(style={'background-image': 'url("img/why_ultimate-6.jpg")'})
            .main-section-2__inner.container
                .main-section-2__text
                    h2.main-section-2__heading Certified In-House Maintenance
                    p.main-section-2__desc Our highly-skilled team of certified Maintenance Technicians is the secret behind our success. Keeping our fleet of 30-seat Dornier 328 and Embraer 135LR Jets flying on schedule is no small feat. The extraordinary ability and dedication of our Maintenance Team is what allows Ultimate Jetcharters to enjoy an industry-leading dispatch reliability rate of over 99.8%.

        .main-section-2.main-section-2--reverse(style={'background-image': 'url("img/why_ultimate-7.jpg")'})
            .main-section-2__inner.container
                .main-section-2__text
                    h2.main-section-2__heading Unequaled Corporate/Project Shuttle Experience 
                    p.main-section-2__desc Ultimate Jetcharters is the recognized nationwide leader in providing Corporate/Project Shuttle Service to major corporations. Since 2005, we’ve operated 22 different shuttle programs for Fortune-ranked companies. Our unique experience in this specialized field can be a valuable asset to any company that has a need to move personnel between two or more locations on a regular basis.

        include includes/why-ultimate/testimonials