.hero(style={background: 'linear-gradient(180deg, rgba(99, 134, 181, 0.6) 24.62%, rgba(23, 45, 72, 0.8) 68.65%), url("img/why_ultimate_hero-bg.jpg") no-repeat center/cover'})
    .hero__inner.container
        .hero__text
            p.hero__heading Why Ultimate