.testimonials
    .testimonials__inner.container
        h2.testimonials__heading Customer Testimonials
        .testimonials__slider
            .testimonials__slide
                .testimonials__avatar
                    img(src="img/avatar-matt.jpg" alt="Matt D." width="136" height="136")
                .testimonials__text
                    p "Everything went PERFECT with the flights this past weekend! I can't thank you enough for making the trips a truly enjoyable experience for our clients."
                p.testimonials__name Matt D.

            .testimonials__slide
                .testimonials__avatar
                    img(src="img/avatar-gaynelle.jpg" alt="Gaynelle M." width="136" height="136")
                .testimonials__text
                    p "We flew with them for the first time this weekend. We flew from Richmond, Va. to Atlantic Ciy, NJ. They were just awesome from beginning to end. Timely, courteous, great customer service, clean, spacious, our attendant was super and looked after our every want and need. What she could accomplish in a 40 min trip was awesome!"
                p.testimonials__name Gaynelle M.

            .testimonials__slide
                .testimonials__avatar
                    img(src="img/avatar-peter.jpg" alt="Peter Q." width="136" height="136")
                .testimonials__text
                    p "The name Ultimate Jetcharters is appropriate – you guys are the true professionals."
                p.testimonials__name Peter Q.

        .testimonials__nav
            .testimonials__arrows.testimonials-nav-arrows
                button.testimonials-nav-arrows__btn.testimonials-nav-arrows__btn--prev(type="button" aria-label="Previous slide")
                    svg(width='21', height='40', viewBox='0 0 21 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M19.9995 1.3335L1.33284 20.0002L19.9995 38.6668', stroke='#087C60', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
                button.testimonials-nav-arrows__btn.testimonials-nav-arrows__btn--next(type="button" aria-label="Next slide")
                    svg(width='21', height='40', viewBox='0 0 21 40', fill='none', xmlns='http://www.w3.org/2000/svg')
                        path(d='M0.999512 1.3335L19.6662 20.0002L0.999512 38.6668', stroke='#087C60', stroke-width='2', stroke-linecap='round', stroke-linejoin='round')
            
            .testimonials__dots.testimonials-nav-dots